<app-button variant="sort" (clicked)="sortBy('email')">
  <svg
    *ngIf="isActive('email')"
    class="icon"
    [ngClass]="{ 'rotate-180': isDesc('email') }"
    focusable="false"
    aria-hidden="true"
  >
    <use href="../../assets/icons.svg#sortArrow"></use>
  </svg>
  <p>Сортировка по Email</p>
</app-button>

<app-button variant="sort" (clicked)="sortBy('name')">
  <svg
    *ngIf="isActive('name')"
    class="icon"
    [ngClass]="{ 'rotate-180': isDesc('name') }"
    focusable="false"
    aria-hidden="true"
  >
    <use href="../../assets/icons.svg#sortArrow"></use>
  </svg>
  <p>Сортировка по Name</p>
</app-button>
