@use '../../../../assets/styles/mixins' as *;


.btn {
  display: flex;
  align-items: center;
  padding: 3rem 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 2rem;
  line-height: 130%;
  font-family: "serif";
  transition: all .5s;
  cursor: pointer;
  text-align: center;
  white-space: normal;
  height: auto;
  gap: 2rem;
  .icon{
    width: 2rem;
    height: 2rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 1.3rem;
  }
}
.btn p {
  white-space: normal;
}

.btn-common {
  background: var(--secondary);

  &:hover{
    background: var(--secondaryH);
  }
  &:active{
    background: var(--secondaryA);

  }
}
.btn-sort {
  padding: 1.5rem 1.5rem;
  @include breakpoint($sm-bp) {
    font-size: .9rem;
  }
}
