@use '../../../../../../assets/styles/mixins' as *;

.user-item{
  width: 100%;
  border: 1px solid var(--text);
  padding: 1rem 1rem 1rem 3rem;
  font-size: 2rem;
  display: grid;
  grid-template-columns: .4fr 1.2fr 1.2fr 1.2fr;
  align-items: center;

  .icon{
    width: 3rem;
    height: 3rem;

    @include breakpoint($sm-bp) {
      width: 2rem;
      height: 2rem;
    }
  }

  p span {
    font-weight: 600;
  }

  @include breakpoint($sm-bp) {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    width: unset;
    height: 100%;
  }
}
